<h1>{{title}}</h1>


<!-- FORMULARIOS PARA RECURSOS Y PROCESOS-->
<div class="row">
    <div class="col-md-4 col-sm-4 formulario">
        <form (ngSubmit)="postCrearRecurso()" #agregarRecurso="ngForm">
            <div class="row control-group">
                <div class="form-group col-xs-12">
                    <label for="recurso">Recurso</label>
                    <input type="text" class="form-control" placeholder="Recurso" id="recurso" required [(ngModel)]="recurso.value" name="recurso">
                    <button class="btn btn-success" [disabled]="!agregarRecurso.form.valid">Agregar Recurso</button>
                </div>
            </div>
        </form>
        <form (ngSubmit)="postAgregarProceso()" #agregarProceso="ngForm">
            <div class="row control-group">
                <div class="form-group col-xs-12">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre" id="nombre" required [(ngModel)]="param.nombre" name="nombre">
                </div>
            </div>
            <div class="row control-group" *ngIf="items_recursos.length > 0">
                <div class="form-group col-xs-12">
                    <label for="recurso">Recurso</label>
                    <select class="col-xs-12 " id="recursos" name="recursos" [(ngModel)]="param.recurso">
                    <option *ngFor="let recurso of items_recursos" [value]="recurso.recurso">{{recurso.recurso}}</option>
                </select>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12">
                    <label for="tiempo">Tiempo</label>
                    <input type="number" class="form-control" placeholder="Tiempo" id="tiempo" required [(ngModel)]="param.tiempo" name="tiempo">
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12">
                    <label for="procesador">Procesador </label>
                    <select class="col-xs-12" name="procesador" id="procesador" [(ngModel)]="param.procesador">
                        <option [value]=1>Procesador 1</option>
                        <option [value]=2>Procesador 2</option>
                        <option [value]=3>Procesador 3</option>
                    </select>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12">
                    <label for="procesador">Procesador </label>
                    <select class="col-xs-12" name="prioridad" id="procesador" [(ngModel)]="prioridad">
                        <option [value]=1>Sistema</option>
                        <option [value]=2>Entrada/salida</option>
                        <option [value]=3>Usuario</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-success" [disabled]="!agregarProceso.form.valid"> Agregar Proceso</button>
        </form>
        <!--FIN FORMULARIO -->
        <div class="row">
            <div class="col-xs-4">
                <button (click)="generarPDF()" class='btn btn-success'>Generar PDF</button>
            </div>
            <div class="col-xs-4">
                <!--<input type="range" name="t_sim" [(ngModel)]="tiempo_simulacion.tiempo" min="1" max="10">-->
                <button class="btn btn-success" (click)="ejecutarProcesos()" [disabled]='enEjecucion' id="btn_proceso">Ejecutar</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="range" min="0.1" max="2" step="0.1" [(ngModel)]="tiempo_simulacion">
                <p>x{{tiempo_simulacion}}</p>
            </div>
        </div>
    </div>
    <!--CPU COLAS Y PROCESADORES-->
    <div class="col-md-8 col-md-offset-4">
        <!--COLAS SUSPENDIDOS Y BLOQUEADOS-->
        <div class="row">
            <h2>Procesador 1</h2>
            <h4>CPU {{t_total}}</h4>
            <div class="col-xs-12 centered" *ngIf="ejecucion.length > 0">
                <div class="cpu">
                    <table class=" table table-striped">
                        <thead>
                            <tr *ngIf="ejecucion[0].prioridad=='sistema'">
                                <th>Nombre</th>
                                <th>Tiempo</th>
                                <th>Recurso</th>
                                <th>Quántum</th>
                                <th>Prioridad</th>
                            </tr>
                            <tr *ngIf="ejecucion[0].prioridad!='sistema'">
                                <th>Nombre</th>
                                <th>Tiempo</th>
                                <th>Recurso</th>
                                <th>Prioridad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="ejecucion[0].prioridad=='sistema'">

                                <td>{{ejecucion[0].nombre}}</td>
                                <td>{{ejecucion[0].tiempo}}</td>
                                <td>{{ejecucion[0].recurso}}</td>
                                <td>{{ejecucion[0].quantum}}</td>
                                <td>{{ejecucion[0].prioridad}}</td>
                            </tr>
                            <tr *ngIf="ejecucion[0].prioridad!='sistema'">

                                <td>{{ejecucion[0].nombre}}</td>
                                <td>{{ejecucion[0].tiempo}}</td>
                                <td>{{ejecucion[0].recurso}}</td>
                                <td>{{ejecucion[0].prioridad}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h3>Diagrama de Gantt</h3>
                    <canvas #gant_1 height="20px"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 centered">
                <h4>Round Robin (P = 1)</h4>
                <div class="colas">
                    <table class=" table table-striped" *ngIf="listos_RR_1.length > 0">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Tiempo</th>
                                <th>Recurso</th>
                                <th>Quántum</th>
                                <th>Prioridad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listos_RR_1">
                                <td>{{item.nombre}}</td>
                                <td>{{item.tiempo}}</td>
                                <td>{{item.recurso}}</td>
                                <td>{{item.quantum}}</td>
                                <td>{{item.prioridad}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-6">
                <h4>Terminados</h4>
                <div class="colas">
                    <table class=" table table-striped" *ngIf="terminado.length > 0">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Recurso</th>
                                <th>Prioridad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of terminado">
                                <td>{{item.nombre}}</td>
                                <td>{{item.recurso}}</td>
                                <td>{{item.prioridad}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h4>SJF (P = 2)</h4>
                    <div class="colas">
                        <table class=" table table-striped" *ngIf="listos_sjf_1.length > 0">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tiempo</th>
                                    <th>Recurso</th>
                                    <th>Prioridad</th>
                                    <th>TTL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listos_sjf_1">
                                    <td>{{item.nombre}}</td>
                                    <td>{{item.tiempo}}</td>
                                    <td>{{item.recurso}}</td>
                                    <td>{{item.prioridad}}</td>
                                    <td>{{item.ttl}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-xs-6">
                    <h4>Suspendidos</h4>
                    <div class="colas">
                        <table class=" table table-striped" *ngIf="suspendido.length > 0">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tiempo</th>
                                    <th>Recurso</th>
                                    <th>Prioridad</th>
                                    <th>Espera</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of suspendido">
                                    <td>{{item.nombre}}</td>
                                    <td>{{item.tiempo}}</td>
                                    <td>{{item.recurso}}</td>
                                    <td>{{item.prioridad}}</td>
                                    <td>{{t_suspendido}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h4>SRTF (P = 3)</h4>
                    <div class="colas">
                        <table class=" table table-striped" *ngIf="listos_srtf_1.length > 0">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tiempo</th>
                                    <th>Recurso</th>
                                    <th>Prioridad</th>
                                    <th>TTL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listos_srtf_1">
                                    <td>{{item.nombre}}</td>
                                    <td>{{item.tiempo}}</td>
                                    <td>{{item.recurso}}</td>
                                    <td>{{item.prioridad}}</td>
                                    <td>{{item.ttl}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-xs-6">
                    <h4>Bloqueados</h4>
                    <div class="colas">
                        <table class=" table table-striped" *ngIf="bloqueado.length > 0">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tiempo</th>
                                    <th>Recurso</th>
                                    <th>Prioridad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of bloqueado">
                                    <td>{{item.nombre}}</td>
                                    <td>{{item.tiempo}}</td>
                                    <td>{{item.recurso}}</td>
                                    <td>{{item.prioridad}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--...........................................PROCESADOR 2...............................-->
            <div class="row">
                <h2>Procesador 2</h2>
                <h4>CPU </h4>
                <div class="col-xs-12 centered" *ngIf="ejecucion_2.length > 0">
                    <div class="cpu">
                        <table class=" table table-striped">
                            <thead>
                                <tr *ngIf="ejecucion_2[0].prioridad=='sistema'">
                                    <th>Nombre</th>
                                    <th>Tiempo</th>
                                    <th>Recurso</th>
                                    <th>Quántum</th>
                                    <th>Prioridad</th>
                                </tr>
                                <tr *ngIf="ejecucion_2[0].prioridad!='sistema'">
                                    <th>Nombre</th>
                                    <th>Tiempo</th>
                                    <th>Recurso</th>
                                    <th>Prioridad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="ejecucion_2[0].prioridad=='sistema'">

                                    <td>{{ejecucion_2[0].nombre}}</td>
                                    <td>{{ejecucion_2[0].tiempo}}</td>
                                    <td>{{ejecucion_2[0].recurso}}</td>
                                    <td>{{ejecucion_2[0].quantum}}</td>
                                    <td>{{ejecucion_2[0].prioridad}}</td>
                                </tr>
                                <tr *ngIf="ejecucion_2[0].prioridad!='sistema'">

                                    <td>{{ejecucion_2[0].nombre}}</td>
                                    <td>{{ejecucion_2[0].tiempo}}</td>
                                    <td>{{ejecucion_2[0].recurso}}</td>
                                    <td>{{ejecucion_2[0].prioridad}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h3>Diagrama de Gantt</h3>
                        <canvas #gant_2 height="20px"></canvas>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 centered">
                    <h4>Round Robin (P = 1)</h4>
                    <div class="colas">
                        <table class=" table table-striped" *ngIf="listos_RR_2.length > 0">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tiempo</th>
                                    <th>Recurso</th>
                                    <th>Quántum</th>
                                    <th>Prioridad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listos_RR_2">
                                    <td>{{item.nombre}}</td>
                                    <td>{{item.tiempo}}</td>
                                    <td>{{item.recurso}}</td>
                                    <td>{{item.quantum}}</td>
                                    <td>{{item.prioridad}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-6">
                    <h4>Terminados</h4>
                    <div class="colas">
                        <table class=" table table-striped" *ngIf="terminado_2.length > 0">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Recurso</th>
                                    <th>Prioridad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of terminado_2">
                                    <td>{{item.nombre}}</td>
                                    <td>{{item.recurso}}</td>
                                    <td>{{item.prioridad}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <h4>SJF (P = 2)</h4>
                        <div class="colas">
                            <table class=" table table-striped" *ngIf="listos_sjf_2.length > 0">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tiempo</th>
                                        <th>Recurso</th>
                                        <th>Prioridad</th>
                                        <th>TTL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listos_sjf_2">
                                        <td>{{item.nombre}}</td>
                                        <td>{{item.tiempo}}</td>
                                        <td>{{item.recurso}}</td>
                                        <td>{{item.prioridad}}</td>
                                        <td>{{item.ttl}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <h4>Suspendidos</h4>
                        <div class="colas">
                            <table class=" table table-striped" *ngIf="suspendido_2.length > 0">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tiempo</th>
                                        <th>Recurso</th>
                                        <th>Prioridad</th>
                                        <th>Espera</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of suspendido_2">
                                        <td>{{item.nombre}}</td>
                                        <td>{{item.tiempo}}</td>
                                        <td>{{item.recurso}}</td>
                                        <td>{{item.prioridad}}</td>
                                        <td>{{t_suspendido}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h4>SRTF (P = 3)</h4>
                        <div class="colas">
                            <table class=" table table-striped" *ngIf="listos_srtf_2.length > 0">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tiempo</th>
                                        <th>Recurso</th>
                                        <th>Prioridad</th>
                                        <th>TTL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listos_srtf_2">
                                        <td>{{item.nombre}}</td>
                                        <td>{{item.tiempo}}</td>
                                        <td>{{item.recurso}}</td>
                                        <td>{{item.prioridad}}</td>
                                        <td>{{item.ttl}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <h4>Bloqueados</h4>
                        <div class="colas">
                            <table class=" table table-striped" *ngIf="bloqueado_2.length > 0">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tiempo</th>
                                        <th>Recurso</th>
                                        <th>Prioridad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of bloqueado_2">
                                        <td>{{item.nombre}}</td>
                                        <td>{{item.tiempo}}</td>
                                        <td>{{item.recurso}}</td>
                                        <td>{{item.prioridad}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--...........................................PROCESADOR 3...............................-->
                <div class="row">
                    <h2>Procesador 3</h2>
                    <h4>CPU </h4>
                    <div class="col-xs-12 centered" *ngIf="ejecucion_3.length > 0">
                        <div class="cpu">
                            <table class=" table table-striped">
                                <thead>
                                    <tr *ngIf="ejecucion_3[0].prioridad=='sistema'">
                                        <th>Nombre</th>
                                        <th>Tiempo</th>
                                        <th>Recurso</th>
                                        <th>Quántum</th>
                                        <th>Prioridad</th>
                                    </tr>
                                    <tr *ngIf="ejecucion_3[0].prioridad!='sistema'">
                                        <th>Nombre</th>
                                        <th>Tiempo</th>
                                        <th>Recurso</th>
                                        <th>Prioridad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="ejecucion_3[0].prioridad=='sistema'">

                                        <td>{{ejecucion_3[0].nombre}}</td>
                                        <td>{{ejecucion_3[0].tiempo}}</td>
                                        <td>{{ejecucion_3[0].recurso}}</td>
                                        <td>{{ejecucion_3[0].quantum}}</td>
                                        <td>{{ejecucion_3[0].prioridad}}</td>
                                    </tr>
                                    <tr *ngIf="ejecucion_3[0].prioridad!='sistema'">

                                        <td>{{ejecucion_3[0].nombre}}</td>
                                        <td>{{ejecucion_3[0].tiempo}}</td>
                                        <td>{{ejecucion_3[0].recurso}}</td>
                                        <td>{{ejecucion_3[0].prioridad}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Diagrama de Gantt</h3>
                            <canvas #gant_3 height="20px"></canvas>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 centered">
                        <h4>Round Robin (P = 1)</h4>
                        <div class="colas">
                            <table class=" table table-striped" *ngIf="listos_RR_3.length > 0">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tiempo</th>
                                        <th>Recurso</th>
                                        <th>Quántum</th>
                                        <th>Prioridad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listos_RR_3">
                                        <td>{{item.nombre}}</td>
                                        <td>{{item.tiempo}}</td>
                                        <td>{{item.recurso}}</td>
                                        <td>{{item.quantum}}</td>
                                        <td>{{item.prioridad}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <h4>Terminados</h4>
                        <div class="colas">
                            <table class=" table table-striped" *ngIf="terminado_3.length > 0">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Recurso</th>
                                        <th>Prioridad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of terminado_3">
                                        <td>{{item.nombre}}</td>
                                        <td>{{item.recurso}}</td>
                                        <td>{{item.prioridad}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <h4>SJF (P = 2)</h4>
                            <div class="colas">
                                <table class=" table table-striped" *ngIf="listos_sjf_3.length > 0">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Tiempo</th>
                                            <th>Recurso</th>
                                            <th>Prioridad</th>
                                            <th>TTL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listos_sjf_3">
                                            <td>{{item.nombre}}</td>
                                            <td>{{item.tiempo}}</td>
                                            <td>{{item.recurso}}</td>
                                            <td>{{item.prioridad}}</td>
                                            <td>{{item.ttl}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <h4>Suspendidos</h4>
                            <div class="colas">
                                <table class=" table table-striped" *ngIf="suspendido_3.length > 0">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Tiempo</th>
                                            <th>Recurso</th>
                                            <th>Prioridad</th>
                                            <th>Espera</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of suspendido_3">
                                            <td>{{item.nombre}}</td>
                                            <td>{{item.tiempo}}</td>
                                            <td>{{item.recurso}}</td>
                                            <td>{{item.prioridad}}</td>
                                            <td>{{t_suspendido}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4>SRTF (P = 3)</h4>
                            <div class="colas">
                                <table class=" table table-striped" *ngIf="listos_srtf_3.length > 0">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Tiempo</th>
                                            <th>Recurso</th>
                                            <th>Prioridad</th>
                                            <th>TTL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listos_srtf_3">
                                            <td>{{item.nombre}}</td>
                                            <td>{{item.tiempo}}</td>
                                            <td>{{item.recurso}}</td>
                                            <td>{{item.prioridad}}</td>
                                            <td>{{item.ttl}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <h4>Bloqueados</h4>
                            <div class="colas">
                                <table class=" table table-striped" *ngIf="bloqueado_3.length > 0">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Tiempo</th>
                                            <th>Recurso</th>
                                            <th>Prioridad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of bloqueado_3">
                                            <td>{{item.nombre}}</td>
                                            <td>{{item.tiempo}}</td>
                                            <td>{{item.recurso}}</td>
                                            <td>{{item.prioridad}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>